# folders
.vscode
build
cov
lib

# Lymui source file folder
lymui/*.c
lymui/include
lymui.xcodeproj

# Lymui C & JS test files
lymui/tests
tests

# NodeJS DEV dependencies
node_modules

# Generated folder
obj

# Files
.travis.yml
CONTRIBUTING.md
coverage.sh
ISSUE_TEMPLATE.md
makefile
PULL_REQUEST_TEMPLATE
_config.yml